.sect1 {
    padding: .4rem;
    text-align: center;
}

.sect2 {
    background-image: url(../img/cafeteria.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        color: white;
        background-color: rgba(0, 0, 0, 0.589);
        padding-inline: 1rem;
     }

     p {
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.322);
        padding-inline: .6rem;
    } 
}

.sect4 {
    display: flex;
    align-items: center;
    width: 100%;
    padding-inline: 2rem;
    padding-block: 2rem;
}

.sect5 {
    padding-inline: 2rem;

    h2 {
        text-align: center;
        padding-block: 0rem 2rem;
    }

    .map {
        padding-inline: 1rem;
        padding-block: 1rem;
        border-radius: 1rem;
        border: 2px solid black;
        width: 100%;
        height: 40vh;
    }
}