.nuestra-historia {
    background-image: url(../img/cafeteria.jpg);
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding-inline: 4rem;

    p {
        color: white;
        background-color: rgba(0, 0, 0, 0.616);
        padding-inline: 2rem;
        text-align: center;
    }

    h1 {
        color: white;
        background-color: rgba(0, 0, 0, 0.616);
        padding-inline: 2rem;
        text-align: center;
    }
}

.section-nuestra-historia {
    padding-top: 2rem;
    display: flex;
    padding-inline: 3rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-inline: 2rem;

    img {
        width: 100%;
    }

    p {
        text-align: center;
    }
}

.div-izquierda {
    width: 1000px;
}

.section-2 {
    padding-top: 2rem;
    display: flex;
    padding-inline: 3rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;

    img {
        width: 100%;
    }

    p {
        text-align: center;
    }
}

.amarillo {
    background-color: rgb(238, 238, 93);
    display: flex;
    gap: 1rem;
    padding-inline: 2rem;
    padding-block: 2rem;
    text-align: center;

    p {
        padding-bottom: 1rem;
        font-size: .85rem;
    }

    div {
        display: flex;
    }
}

.galeria {
    display: flex;
    gap: 1rem;
    padding-inline: 2rem;
    padding-top: 2rem;
}

.div-img {
    width: 33%;
    height: 500px;
    background-color: aqua;
    border-bottom: 2rem;
    margin-bottom: 2rem;
    overflow: hidden;

    img {
        max-width: 100%;
    }
}